{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/shirazlug_logo.svg" height="130px" alt=""></p>

        <h1 style="line-height:2;font-size:300%;font-family:vazir;">{{ .Site.Title }}</h1>

        <h2 style="line-height:2;font-size:130%;font-family:vazir;">{{ markdownify .Site.Params.Description }}</h2>

    </div>

</main>

{{ partial "footer" . }}
